.title{
    text-align: center;
    text-decoration: underline;
}
.heldBlockOuter{
    display: flex;
    flex-direction: column;
}
.grid{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    height: 72px;
    align-items: center;
}
.gridRow{
    display:flex;
}