.pieceQueue{
    margin-left:24px;
    margin-top: 24px;
    height:336px;
    width: 96px;
    
    
}

.piece{
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    

}
.pieceRow{
    display:flex;
    

}
