.leave-room{
    min-width: 100px;
    padding:5px 10px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-weight: bold;
    border-width: 2px;
    border-color:red;
    background-color: red;
}