.pieceQueue{
    margin-left: 24px;
    margin-top: 24px;
    width:120px;
    height:336px
}


.piece{
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    
    
}
.pieceRow{
    display:flex;
}
