ul.nav-bar{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
}

ul.nav-bar li{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}


ul.nav-bar li:hover {
    background-color: #000;
}
