ul.nav-bar{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
}

ul.nav-bar li{
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    display: flex;
}


ul.nav-bar li:hover {
    background-color: #000;
}

ul.nav-bar div{
    text-align: center;
    padding-top: 7px;
    padding-left: 10px;
    padding-right:10px;

    float: left;
    display: flex;
    color: purple;
    font-size: x-large;
    font-weight: bold;
}




